@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/static/Outfit-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Young serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}


:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%); 
    --paragraph: 16px; 
    --main-font: 'Outfit', sans-serif;
    --other-font: 'Young serif', sans-serif;

    --spacing-sm: 0.5rem;
    --spacing: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    line-height: 1.8;

}

main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--stone-150);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: white;
    padding: var(--spacing-md);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    /* letter-spacing: ; */

}

img{
    width: 600px;
    /* height: 200px; */
    object-fit: cover;
    margin-bottom: var(--spacing);
}
figure{
}

article{
    margin-bottom: var(--spacing);

}

article h1{
    font-size: 2em;
    margin-bottom: var(--spacing);
}

.preparation{
    padding: var(--spacing);
    background-color: var(--rose-50);
}
.preparation h3{
    color: var(--rose-800);
    margin-bottom: var(--spacing-sm);
}

.preparation ul li::marker{
    color: var(--rose-800) ;
}


.ingredients{

}

.ingredients ul li::marker{
    color: var(--brown-800);
}

.ingredients h2, .instructions h2{
    font-size: 1.5rem;
    color: var(--brown-800);
}

ul,ol {
    list-style-position: inside;
  }
  



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }