@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/static/Outfit-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/static/Outfit-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Young serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}


:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%); 
    --paragraph: 16px; 
    --main-font: 'Outfit', sans-serif;
    --other-font: 'Young serif', sans-serif;

    --spacing-sm: 0.5rem;
    --spacing: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--main-font);
    color: var(--stone-600);
    background-color: var(--stone-100);
    /* letter-spacing:1px; */
    padding: 8rem 0;

}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: white;
    padding: var(--spacing-md);
    min-width: 600px;
    max-width: 725px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    border-radius: 15px;
    /* letter-spacing: ; */
    margin-bottom: 1rem;

}

img{
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
    margin-bottom: var(--spacing-sm);
    border-radius: 10px;
}
figure{
}

article{
    margin-bottom: var(--spacing);

}

article h1{
    font-size: 2.5rem;
    color: var(--stone-900);
    /* letter-spacing: 1px; */
    font-weight: 400;
}

.preparation{
    padding:  1.5rem;
    background-color: var(--rose-50);
    border-radius: 10px;
}
.preparation p{
    font-size: 1.17rem;
    color: var(--rose-800);
    margin-bottom: var(--spacing-sm);
    font-weight: 700;
}

.preparation ul li::marker{
    color: var(--rose-800) ;
}


.ingredients{

}

.ingredients ul li::marker, ol li::marker{
    color: var(--brown-800);
    font-weight: 700;
}
h1, h2{
    font-family:  var(--other-font);
    font-weight: 400;
    margin-bottom:1rem;


}
h2{
    font-size: 1.5rem;
    color: var(--brown-800);
}
.nutrition{
    /* border: 1px solid; */
    padding: var(--spacing);
}

table{
    width: 100%;
}

caption{
    text-align: left;
}

td{
    border-bottom: 1px solid var(--stone-150);
    padding: var(--spacing-sm) var(--spacing-md);
}

td:last-child{
    font-weight: 700;
    color: var(--brown-800);
}

ul {
    /* list-style-position: inside; */
}
  
ol,ul{
     
      padding-left: 1.5rem;
      
}
li{

      /* text-indent: var(--spacing-sm); */
      text-align: left;
      padding-left: 0.975rem;
      margin-bottom: var(--spacing-sm);
}
hr{
    background-color: var(--stone-150);
    height: 1px;
    border: none;
}

p{
    font-size: 16px;
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }